*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
}



.center{
 border: 2px solid black;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 padding: 5%;

}


.button{
    border: 1px solid black;
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#grey{
    background-color: grey;
}

#blue{
    background-color: blue;
}

#green{
    background-color: green;
}

#white{
    background-color: white;
}